.loginForm {
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 30px;
  padding: 40px;
  height: 600px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
body {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
}

.signupbtn {
  margin-left: 175px;
}

.Loginbtn {
  margin-left: 175px;
}
.emailpassdiv {
  margin-left: 110px;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
