form {
  background-color: rgb(235, 156, 169);
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 10px;
}
.signupbtn {
  margin: 0 auto;
  display: inline-block;
}

.Loginbtn {
  margin-right: 0;
  margin-left: 60;
  background-color: tomato;
}
