img {
  height: 300;
  width: 303;
}
.lol {
  text-align: center;
  font-size: 30px;
  color: orange;
  background-color: rgb(222, 223, 157);
}
.bigbutton {
  width: 100px;
  height: 100px;
}
#optionsData {
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
