.quizForm {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  font-size: 30px;
  color: orange;
  background-color: rgb(177, 81, 57);
}
.bigbutton {
  width: 100px;
  height: 100px;
}
.selected {
  background: linear-gradient(
    to right,
    rgb(16, 190, 39),
    rgb(15, 216, 115)
  ) !important;
}
.options {
  cursor: pointer;
}
.SummaryResultsFail {
  background-color: rgb(196, 26, 54);
  padding: 50px;
  margin: 0;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.SummaryResultsPass {
  background-color: rgb(0, 255, 115);
  padding: 50px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#tryagain {
  position: absolute;
  top: 54%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
