.lol {
  text-align: center;
  font-size: 30px;
  color: orange;
  background-color: rgb(177, 81, 57);
}
.bigbutton {
  width: 100px;
  height: 100px;
}
.selected {
  background: linear-gradient(
    to right,
    rgb(16, 190, 39),
    rgb(15, 216, 115)
  ) !important;
}
.options {
  cursor: pointer;
}
