h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(158, 231, 201);
  text-align: center;
  margin: 0 auto;
}
.background {
  background-color: #deb887;
}
.SlidePictures {
  align-items: center;
}
p {
  font-family: cursive;
  font-size: larger;
  font-style: inherit;
  font-weight: bolder;
}
