.groove {
  font-family: "Times New Roman", Times, serif;
  font: lighter;
  font-size: 20px;
  width: 800px;
  border-style: groove;
}
#navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.Topic1 {
  font-size: large;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: all 0.5s ease;
  background-color: rgb(221, 197, 90);
}
.Topic1 :hover {
  background-color: #75c561;
  -webkit-transition: background-color 750ms linear;
  -ms-transition: background-color 750ms linear;
  transition: background-color 780ms linear;
}
#takeQuizbtn {
  position: absolute;
  margin: 0;
  top: 109%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.levelButtons {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#innerBorder {
  background-color: rgb(219, 217, 217);
  padding: 20px;
}
.heading {
  color: rgb(255, 115, 0);
}

#userProfileComp {
  position: absolute;
  left: 63.7%;
  top: 100px;
  color: rgb(0, 50, 85);
}
#header1 :hover {
  background-color: rgb(235, 180, 180);
}
