.groove {
  font-family: "Times New Roman", Times, serif;
  font: lighter;
  font-size: 20px;
  width: 800px;
  border-style: groove;
}
#navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
