.groove {
  font-family: "Times New Roman", Times, serif;
  font: lighter;
  font-size: 20px;
  width: 800px;
  border-style: groove;
}
#navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#takeQuizbtn {
  position: absolute;
  margin: 0;
  top: 109%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btnLevel {
  background-color: brown;
}
#innerBorder {
  background-color: rgb(219, 217, 217);
  padding: 20px;
}
.heading {
  color: rgb(255, 115, 0);
}

#userProfileComp {
  float: right;
  color: rgb(0, 50, 85);
}
